---
import ProjectCard from "@/components/project_card.tsx";
import projects from "@/data/projects.json";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Projects" class="space-y-6">
  <h1 class="text-4xl leading-none font-semibold tracking-tight">Projects</h1>

  <ul class="grid grid-cols-2 gap-4">
    {
      projects.map((i) => (
        <ProjectCard
          title={i.title}
          description={i.description}
          site_url={i.site_url}
          source_url={i.source_url}
          tags={i.tags}
        />
      ))
    }
  </ul>
</BaseLayout>
