---
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import { Badge } from "./ui/badge";
import { buttonVariants } from "./ui/button";

type Props = Pick<CollectionEntry<"blog">, "data" | "slug"> & {
  slim?: boolean;
};

const { data, slug, slim } = Astro.props;
const { title, pubDate, tags } = data;
---

<div class="flex w-full flex-row justify-between space-x-1">
  <a href={`blog/${slug}`} class="font-semibold">
    {title}
  </a>

  <span class="ml-2 text-sm">
    {format(new Date(pubDate), "MMM d, yyyy")}
  </span>
</div>

{
  slim ? null : (
    <div class="flex items-center justify-between pt-4">
      <div class="flex flex-wrap gap-1">
        {tags.map((tag) => (
          <Badge key={tag}>{tag}</Badge>
        ))}
      </div>

      <a
        href={`blog/${slug}`}
        class={buttonVariants({ variant: "outline", size: "sm" })}
      >
        Read More
      </a>
    </div>
  )
}
