---
import { Image } from 'astro:assets'
import { ArrowRight, Github, BookOpen } from 'lucide-react'
import Card from '@components/Card.astro'
import projects from '@data/projects.json'
import asu_logo from '@assets/asu_logo.jpg'
import brookdale_logo from '@assets/brookdale_logo.jpg'
import blue_cross_blue_shield_logo from '@assets/blue_cross_blue_shield_logo.png'
---

<script src="../scripts/tabs.ts"></script>

<div class="tabs-container space-y-2">
  <ul
    aria-labelledby="tabs-title"
    class="grid grid-cols-2 rounded-xl border border-[#1e1f39] bg-[#2c2d48] p-1"
  >
    <li>
      <a
        id="tab-1"
        href="#projects"
        class="inline-flex w-full items-center justify-center rounded-md px-3 py-1 text-sm font-medium aria-selected:rounded-md aria-selected:bg-[#080823]"
        role="tab"
        aria-selected="true">Projects</a
      >
    </li>
    <li>
      <a
        id="tab-2"
        href="#experience"
        class="inline-flex w-full items-center justify-center rounded-md px-3 py-1 text-sm font-medium aria-selected:rounded-md aria-selected:bg-[#080823]"
        role="tab"
        aria-selected="false">Experience</a
      >
    </li>
  </ul>

  <div
    class="tabs__panels space-y-2 rounded-xl border border-[#1e1f39] bg-[#080823] p-6"
  >
    <div id="projects" aria-labelledby="tab-1" class="space-y-4">
      <Github className="h-6 w-6" />

      <div class="flex items-center justify-between">
        <h2
          class="text-xl font-semibold leading-none tracking-tight sm:text-2xl"
        >
          featured projects
        </h2>

        <a
          href="/projects"
          class="flex items-center justify-center gap-2 text-sm text-gray-700 dark:text-gray-200"
        >
          view more
          <ArrowRight className="h-6 w-6" />
        </a>
      </div>

      <ul class="grid gap-4 sm:grid-cols-2">
        {
          projects.map(i => (
            <Card
              title={i.title}
              body={i.body}
              site_url={i.site_url}
              source_url={i.source_url}
            />
          ))
        }
      </ul>
    </div>
    <div
      id="experience"
      aria-labelledby="tab-2"
      class="space-y-6"
      hidden="true"
    >
      <BookOpen className="h-6 w-6" />

      <section class="space-y-4">
        <h2
          class="text-xl font-semibold leading-none tracking-tight sm:text-2xl"
        >
          experience
        </h2>

        <ul class="space-y-4 pl-2">
          <li class="flex space-x-6">
            <Image
              src={blue_cross_blue_shield_logo}
              alt="Blue Cross Blue Shield of Arizona logo"
              class="mt-2 h-10 w-10 rounded-full"
            />
            <div class="flex flex-1 flex-col gap-1">
              <time class="text-xs text-gray-400">
                <span>May 2023</span>
                <span>-</span>
                <span>Nov 2023</span>
              </time>
              <h3 class="font-semibold leading-none">
                Blue Cross Blue Shield of Arizona
              </h3>
              <p class="text-xs text-gray-400">
                Full-Stack Software Engineer (Intern)
              </p>
              <ul class="ml-2 list-outside list-disc space-y-2">
                <li class="prose ml-4 pr-8 text-sm dark:prose-invert">
                  Developed and implemented key features leveraging Next.js,
                  TypeScript, and Sitecore for two customer facing product
                  releases, improving user experience and overall performance.
                </li>
                <li class="prose ml-4 pr-8 text-sm dark:prose-invert">
                  Redesigned authentication processes with Okta and Next.js,
                  securing access for 500,000+ users and enhancing user
                  interface engagement.
                </li>
                <li class="prose ml-4 pr-8 text-sm dark:prose-invert">
                  Developed documentation for new features and processes,
                  ensuring seamless knowledge transfer and efficient maintenance
                  of critical software systems.
                </li>
                <li class="prose ml-4 pr-8 text-sm dark:prose-invert">
                  Identified and resolved critical bugs in the customer web
                  portal, significantly improving reliability and user
                  satisfaction.
                </li>
                <li class="prose ml-4 pr-8 text-sm dark:prose-invert">
                  Actively contributed to Agile sprints, ensuring consistant and
                  on time feature deployment.
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </section>

      <section class="space-y-4">
        <h2
          class="text-xl font-semibold leading-none tracking-tight sm:text-2xl"
        >
          education
        </h2>

        <ul class="space-y-4 pl-2">
          <li class="flex items-center space-x-6">
            <Image
              src={asu_logo}
              alt="Arizona State University logo"
              class="h-10 w-10 rounded-full"
            />
            <div class="flex flex-1 flex-col gap-1">
              <time class="text-xs text-gray-400">
                <span>May 2023</span>
                <span>-</span>
                <span>May 2026</span>
                <span>(expected)</span>
              </time>
              <h3 class="font-semibold leading-none">
                Arizona State University
              </h3>
              <p class="text-xs text-gray-400">BS in Computer Science</p>
            </div>
          </li>
          <li class="flex items-center space-x-6">
            <Image
              src={brookdale_logo}
              alt="Brookdale community college logo"
              class="h-10 w-10 rounded-full"
            />
            <div class="flex flex-1 flex-col gap-1">
              <time class="text-xs text-gray-400">
                <span>Sep 2020</span>
                <span>-</span>
                <span>Dec 2022</span>
              </time>
              <h3 class="font-semibold leading-none">
                Brookdale Community College
              </h3>
              <p class="text-xs text-gray-400">AS in Computer Science</p>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
